body{
  background-color: plum; 
  align-items: center;
}
.container{
  padding:20px;
  text-align:center;
} 
.petContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
h5{
  background-color: lightgrey;
  color: #a1a1a1;
  padding: 20px;
}
img{
   padding:5px;
   border: 1px solid #021a40;
   background-color:white;
}
#cat-btn{
background-color: #5bc0de;
color:white;
}
#dog-btn{
  background-color:#5cb85b;
  color:white
}
#dino-btn{
  background-color:#f0ad4e;
  color:white
}
